    {% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	test
                </div>
            </div>
        </div>
    </section>

    <section id="dashboard">
        <table style="margin: 0px auto;">
            <tr><td><div class="circle" style="background-color:#52be7f"></div></td>
                <td>No action required </td>
                <td><div class="circle" style="background-color:#ffe766"></div></td>
                <td>Action recommended</td>
                <td><div class="circle" style="background-color:#d73e3e"></div></td>
                <td>Immediate action required</td>
                <td><div class="circle" style="background-color:#885ead"></div></td>
                <td>State Pending to be reviewed</td>

            </tr>
        </table> 

        <hr>


            	<div class="col-lg-8 text-center holder">

                    <iframe class="frame" src="http://createaclickablemap.com/map.php?&id=39054&online=true" width="900" height="525" style="border: 1px solid #333333;" align="middle"></iframe>
<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
<div class="bar"></div>


    			</div>

<div style="margin-left:60%; margin-top:20px" id="clickme"><a>Click here to see which states are members of SARA</a><div id="stateList" style="width:340px;hieght:40px;display:none">Arizona, Minnesota, Ohio, West Virginia, Arkansas, Missouri, Oklahoma, Wyoming, Colorado, Montana, Oregon, Idaho, Nebraska, South Dakota, Indiana, Nevada, Tennesse, Iowa, New Hampshire, Vermont, Kansas, New Mexico,Virginia</div></div> 
<hr>
                <h1 style="margin-left:10%">Your Reports</h1>
                <div style="float:left;margin-left:10%"><img src="img/check.png">= verfified </div>
                <div><img src="img/print-all.png" width="2%" style="margin-left:20%; "> Print All</div>
                <br><br>
                <table style="margin-left:10%">
                    <tr><td><div class="circle red"></div></td><td>California<img src="img/check.png" width="20%"></td>
                        <td><div class="circle yellow" style="background-color:#ffe766"></div></td><td>Alaska</td>
                        <td><div class="circle green" style="background-color:#52be7f"></div></td><td>Minnesota<img src="img/check.png" width="20%"></td>
                    </tr>
                    <tr><td><div class="circle red" ></div></td><td>Colarado</td>
                        <td><div class="circle yellow" ></div></td><td>Arkansas</td>
                        <td><div class="circle green" ></div></td><td>Nebraska</td>
                    </tr>
                    <tr><td><div class="circle red" ></div></td><td>Idaho<img src="img/check.png" width="20%"></td>
                        <td><div class="circle yellow" ></div></td><td>Connecticut<img src="img/check.png" width="20%"></td>
                        <td><div class="circle green" s></div></td><td>Oregon</td>
                    </tr>
                    <tr><td><div class="circle red" ></div></td><td>Kansas</td>
                        <td><div class="circle yellow" ></div></td><td>Iowa</td>
                        <td><div class="circle green" ></div></td><td>Texas</td>
                    </tr>
                    <tr><td><div class="circle red" ></div></td><td>Oklahoma</td>
                        <td><div class="circle" style="background-color:#ffe766"></div></td><td>Louisiana<img src="img/check.png" width="20%"></td>
                    </tr>
                        <tr><td><div class="circle red" ></div></td><td>Utah</td>
                        <td><div class="circle" style="background-color:#ffe766"></div></td><td>Massachusetts</td>
                    </tr>
                        <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Mississippi</td>
                    </tr>
                    </tr>
                       <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Missouri</td>
                    </tr>
                    </tr>
                      <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Montana</td>
                    </tr>
                    </tr>
           <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>New Jersey</td>
                    </tr>
                    </tr>
                     <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>North Dakota</td>
                    </tr>
                    </tr>
                       <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Pennsylvania</td>
                    </tr>
                    </tr>
                       <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Rhode Island</td>
                    </tr>
                    </tr>
                  <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>South Dakota</td>
                    </tr>
                    </tr>
                      <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>Washington</td>
                    </tr>
                     </tr>
                        <tr><td></td><td></td><td><div class="circle" style="background-color:#ffe766"></div></td><td>West Virginia</td>
                    </tr>
                </table>


<div id="sara"> <strong>You are eligible to join SARA </strong><br>(the State Authorization Reciprocity Agreement)<br><br>

<a href="/sara.html"><strong>Click here to find out more!<strong></a>

</div>


	</section>


{% endblock %}
