{% extends "main.html" %}
{% block content %}

        <!-- FULLSCREEN SLIDER -->
        <div id="slides">
            <ul class="slides-container">
                <li>
                	<img src="img/MAP-US-2.jpg" alt="">
                    <div class="container text-center">
                        <div class="main-title uppercase">
                            <h1 class="">The NYU State Authorization Advisor</h1> 
                        </div>
                        <div class="main-title-tagline">
                            <p>Find out when and how to seek state authorization</p>
                        </div>
                        <a class="button button-big button-border-dark" href="advisor.html">Watch a Demo</a>
                    </div>
            	</li>
            </ul>
            <!-- <p class="photo-credit">Photo: Sebastiaan ter Burg, May 2013</p> -->
        </div>
        
        
        <!-- SECTION WELCOME -->
<!--         <section id="advisor">
        	<div class="container">
                <div class="row text-center">
                    <h1 class="wow fadeInDown advisor-header">How do we define crowdsourcing?</h1>
                </div>
            	<div class="row">
                        <p class="subhead wow fadeInDown" data-wow-delay="0.2s">Crowdsourcing is the process in which an individual, an institution, or an organization proposes to another group of individuals the voluntary undertaking of a participative online activity. </p>
                </div>
            </div>
        </section> -->


        <!-- SECTION PROCESS -->


            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2>Readily determine your program’s regulatory compliance status, identify exposures, assess remedial costs, and learn when and how to seek state authorization.</h2>
                        </div>
                    </div>
                </div> 
            </div>
        </section>


        <!-- SERVICES -->
<!--         <section id="share-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a target="_blank" href="javascript:window.open('https://twitter.com/intent/tweet?url=http://crowdsourcingadvisor.org/form.html&amp;text=Find out how and when to use crowdsourcing! Try the GovLab Crowdsourcing Advisor:&amp;via=TheGovLab', 'Share on Twitter', 'width=500,height=250')"><i class="fa fa-share fa-2x" title="Share your experience!"></i></a>
                    </div>
                </div>
            </div>
        </section> -->

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="uppercase">Goals of the NYU State Authorization Advisor</h2>
                        <p></p>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="service wow pulse">
                            <i class="fa fa-sliders fa-4x"></i>
                            <h3>Personalized Reports</h3>
                            <p>To provide reliable answers to your particular institution’s fundamental questions about state authorization of your individual programs.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="service wow pulse" data-wow-delay="0.1s">
                            <i class="fa fa-exclamation-triangle fa-4x"></i>
                            <h3>Detailed Next Steps</h3>
                            <p>To provide resource guidance that will enable your institution to gain necessary approvals</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="service wow pulse" data-wow-delay="0.2s">
                            <i class="fa  fa-question-circle fa-4x"></i>
                            <h3>Risk and Cost Assessments</h3>
                            <p>To help you identify a support option that is the best fit for your institution, in order to decrease risk, reduce cost and manage time to comply</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6">
                        <div class="service wow pulse" data-wow-delay="0.3s">
                            <i class="fa fa-money fa-4x"></i>
                            <h3>Sustainability and Management</h3>
                            <p>Increase sustainability, organization and operational efficiency</p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>

        
        <section id="process">
            <div class="container">
                <div class="process-header col-lg-12 wow fadeInDown">
                    <!-- <h2 class="uppercase">Our Services</h2> -->
                </div>
                <div class="row">

                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="uppercase">The NYU State Authorization Advisor informs on:</h2>
                        <p></p>
                    </div>

                    <div class="process-items">
                        <div class="process-item col-xs-6 col-md-3 col-lg-3 wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="fa fa-check-square fa-4x"></i>
                            <h3 class="uppercase">Need for Authorization</h3>
                            <p>Including costs, instructions and links to guide you through simple steps to secure compliance in each State</p>
                        </div>
                        
                        <div class="process-item col-xs-6 col-md-3 col-lg-3 wow fadeInLeft" data-wow-delay="0.3s">
                            <i class="fa fa-list-alt fa-4x"></i>
                            <h3 class="uppercase">Qualification for Exemption</h3>
                            <p>Obtain tailored and actionable advice on the next steps you need to perform to apply for exemption in each State</p>
                        </div>
                        
                        <div class="process-item col-xs-6 col-md-3 col-lg-3 wow fadeInLeft" data-wow-delay="0.4s">
                            <i class="fa fa-users fa-4x"></i>
                            <h3 class="uppercase">SARA membership</h3>
                            <p>Learn about SARA (State Authorization Reciprocity Agreement) membership and financial impact</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <!-- SECTION TEAM -->
        <section id="team">
            <div class="container">
                <div class="row text-center">
                    <h2 class="uppercase">Our Team</h2>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div id="team-slider" class="owl-carousel owl-theme">
                            {% for member in content['team'] %}
                                <div class="item">
                                    <div class="imagewrap">
                                        <img class="img-responsive img-circle" src="{{member['thumbnail']}}" alt="">
                                        <div class="image-overlay img-circle"></div>
                                        <div class="buttons">
                                            <span class="whitecircle"><a href="{{member['twitter']}}"><i class="fa fa-twitter"></i></a></span>
                                            <span class="whitecircle"><a href="{{member['linkedin']}}"><i class="fa fa-linkedin"></i></a></span>
                                        </div>
                                    </div>
                                    
                                    <h3>{{member['name']}}</h3>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="team">
            <div class="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="uppercase">About the NYU State Authorization Advisor</h2>
                        <p></p>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2>NYU’s State Authorization Advisor is an online tool that provides institutions with the opportunity to concretely learn what actions--and costs are required to achieve and maintain compliance with state regulations.. The tool’s series of diagnostic questions tie directly to state agency policies and fees. Institutional characteristics and activities are collected through a progressive wizard, resulting in a concrete, customized action plan for next steps. This user-friendly interface streamlines, the task of navigating complex regulations, especially for individuals who are not attorneys or policy experts.</h2>
                        </div>
                    </div>
                </div> 
            </div>
        </section>

{% endblock %}