


<!-- Don't know how to connect the logic of if "etc" true show "this" but it should be pretty easy for you since everything is pointed out and you just have to copy/paste the unique identifier that I mention. KEWL. Show text unless conditioned-->	


<div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>Apply for Authorization</h2>

<h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on your responses, your organization should apply for authorization in New Mexico. Please see below for information and instructions about how to apply.</h3>

<!-- Client Description-->	

<li>Because you are a [ADD CONTENT OF “q1-private” and/or “q1-public” and/or “q1-np” and/or “q1-fp” and/or “q1-degree” and/or “q1-non-degree” and/or “q1-reli” and/or “q1-voc” IF TRUE] institution, your institution is regulated by the New Mexico Higher Education Department.</li>

<li>Because your Institution is:</li>
<ul>
	<li>[IF “q4-yes” true SHOW] Offering programs that lead to New Mexico licensure;</li>
	<li>[IF “q5-seminars” OR “q5-intern” OR “q5-independent” true SHOW] Having seminars, conferences and/or internships;</li>
	<li>[If “q6-yes” true SHOW] Meeting for more than 40 hrs, $500, and one course in sequence;</li>
	<li>[If "q7-physical" OR “q7-non-instructional" OR "q7-both" OR "q7-equipment" OR "q7-out" OR "q7-enrollment" OR "q7-support" true SHOW] Maintaining a location, site, server, phone and/or address;</li>
	<li>[If “q8-yes” true SHOW] Contracts to provide students with services;</li>
	<li>[If "q9-print" OR "q9-radio" OR q9-tv true SHOW] State advertising;</li>
	<li>[If "q10-full" OR "q10-adjunct" OR "q10-fullwyo" OR "q10-adjwyo" true SHOW] Employing any faculty; and,</li>
	<li>[If “q11-yes” true SHOW] Offering distance ed to NM students and employing recruiting agents in New Mexico</li>
	<li></li>
</ul>

<!-- General Application Process -->	

<li>In New Mexico, you should apply for program and/or institutional authorization with the New Mexico Higher Education Department.</li>

<li>Application Process</li>
<ul>
	<li>There are two types of authorization in New Mexico: Licensure and Registration. Each type of authorization has different requirements for the process to apply and fees. </li>
	<li>[If “q14-yes” true SHOW] Because you are a <strong> multi-institution system </strong>, each institution within your organization in New Mexico must apply for authorization individually;</li>
	<li>Applications for authorization to New Mexico Higher Education Department must include either proof of current accreditation status (by a body recognized by BOTH the U.S. Department of Education and the New Mexico Higher Education Department) OR include a plan to become accredited within three years;</li>
	<li>The initial authorization application process generally takes 6 to 9 months.</li>
</ul>


<!-- License Process -->	

<li>Because your institution is operating with a Presence in New Mexico, your institution needs to apply for a License. </li>

<!-- Can you make the word "License" a pop-up? content for the pop-up: The New Mexico Higher Education Department calls authorization to operate for institutions like yours “Licensure” -->

<li>Licensing Institutions Process</li>
<ul>
	<li>Application forms can be obtained under License at: http://www.hed.state.nm.us/institutions/applications.aspx</li>
	<li>Because your annual gross tuition revenue is [ANSWER OF SCREEN 15 Q14], your renewal fee will be $ [corresponding range below], which will be due annually by July 1.</li>

	<!-- Here the range from which you have to create the IF/THEN logic 
	[Less than $50,000 annual gross tuition revenue: $500
	$50,000-$249,999 annual gross tuition revenue: $1,000
	$250,000-$499,999 annual gross tuition revenue: $2,000
	$500,000-$999,999 annual gross tuition revenue: $3,000
	Greater than $1M annual gross tuition revenue: $5,000)] -->

</ul>

<h3>Authorization Fee Estimate</h3>
<ul>
	<li>The total cost estimate for your institution to Apply for Authorization with New Mexico Higher Education Department state authorization regulations is $D CALCULUS 2</li>

<h3>Change Fees</h3>
<p> Please note that after initial authorization, the NMHED also charges Change Fees on an ongoing basis </p>
<ul>
	<li>New Degree Program $1,500</li>
	<li>New Certificate Program $750</li>
	<li>Change of Ownership Degree-Granting School $1,000</li>
	<li>Change of Ownership Career School $200</li>
	<li>Change of School Name $100</li>
	<li>Change of School Location $100</li>
</ul>

<h3>Regulatory Agency Contact:</h3>
<p> New Mexico Higher Education Department 2048 Galisteo Street Santa Fe, NM 87505</p>
<p> Regulator</p>
<p> Diane Vigil-Hayes </p>
<p> Diane.Vigil@state.nm.us </p>
<p> 505-476-8418 </p>
<p> Provate and Proprietary Schools Administrator and Compliance Officer</p>
</div>
</div>