
{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>


<section>
	<div class="container">
<!-- Don't know how to connect the logic of if "etc" true show "this" but it should be pretty easy for you since everything is pointed out and you just have to copy/paste the unique identifier that I mention. KEWL. Show text unless conditioned-->	


<div id="report-SARA" class="col-lg-8 col-lg-offset-2 text-left" >
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>Your Institution is Eligible to Join SARA</h2>

<h3>“SARA” is the State Authorization Reciprocity Agreement, which allows states to recognize each others’ authorization of certain distance-education activities instead of requiring that a college or university become licensed for such activity in every state where it enrolls students.</h3>

<li>The NYU State Authorization Advisor can provide your institution with valuable information to determine what is and is not covered by the State Authorization Reciprocity Agreement (SARA), eligibility criteria to join SARA, what you can expect in the application process, how much it will cost your institution to join SARA, and how much your institution may save if you join SARA.</li>

<!-- Client Description-->	

<li>Because your Institution:</li>
<ul>
	<li>Holds its legal domicile in a SARA member state;</li>
	<li>Grants degrees; and;</li>
	<li>Ss accredited by an agency recognized by the U.S. Department of Education</li>	
</ul>
<li>You institution is eligible to join the State Authorization Reciprocity Agreement (SARA). Through reciprocity, an institution authorized under SARA criteria in its home state is considered authorized in all other SARA states. </li>

<!-- General Application Process -->	

<h3>The institutional approval process for SARA participation is comprised of the following 6 steps:</h3>
<ul>
	<li>1. State Portal Agency notifies institutions the state is a member of SARA;</li>
	<li>2. "Institution applies to state portal agency to participate in SARA (To determine the appropriate portal agency contact for your institution’s home state, please visit: http://nc-sara.org/content/state-portal-agency-contacts);" </li>
	<li>3. State portal agency reviews application and if approved, notifies NC-SARA and sends payment link to the institution;</li>
	<li>4. Institution accesses link and sends payment to WICHE/NC-SARA;</li>
	<li>5. NC-SARA confirms payment, sends welcome materials to the institution and lists institution on NC-SARA website; and;</li>
	<li>6. Institution must renew annually to maintain participation status.</li>
</ul>


<!-- License Process -->	

<li>*An institution applying to operate under the State Authorization Reciprocity Agreement (SARA) must submit an application to its home state’s portal agency.</li>

<!-- Can you make the word "License" a pop-up? content for the pop-up: The New Mexico Higher Education Department calls authorization to operate for institutions like yours “Licensure” -->

<h3>Your institution must also meet the following criteria in the application process:</h3>
<ul>
	<li>1. Have its principal campus or central administrative unit domiciled in a state that has joined the State Authorization Reciprocity Agreement (SARA) initiative and be authorized to operate in that state. Only distance education content originating in the United States or a U.S. territory is eligible to be offered under SARA. (Include documentation);</li>
	<li>2. Be a U.S. degree-granting institution that is accredited by an accrediting body recognized by the U.S. Secretary of Education. (Include documentation);</li>
	<li>3. For non-public institutions, have a financial responsibility index score from the U.S. Department of Education that is 1.5 or above, or, if its score is between 1.0 and 1.5, successfully demonstrate to its home state’s portal agency that it is nevertheless sufficiently financially stable to justify participation in SARA. Public institutions are presumed to be sufficiently financially stable for SARA purposes. (Include documentation);</li>
	<li>4. Agree to abide by the Interregional Guidelines for the Evaluation of Distance Education adopted by the Council of Regional Accrediting Commissions, as summarized in SARA policy 5(2)1-9;</li>
	<li>5. Agree to be responsible for the actions of any third-party providers used by the institution to engage in operations under SARA;</li>
	<li>6. Agree to notify its home state’s portal agency of any negative changes to its accreditation status;</li>
	<li>7. Agree to provide data necessary to monitor SARA activities.;</li>
	<li>8. Agree to work with its home state’s portal agency to resolve any complaints arising from its students in SARA states, and to abide by decisions of that entity;</li>
	<li>9. Apply to its home state’s portal agency over the signature of the institution’s CEO or chief academic officer;</li>
	<li>10. Agree to notify in writing all students in a course or program that customarily leads to professional licensure, or which a student could reasonably believe leads to such licensure, whether or not the course or program meets requirements for licensure in the state where the student resides. If an institution does not know whether the course or program meets licensure requirements in the student’s state of residence, the institution may meet this SARA requirement by informing the student in writing and providing the student the contact information for the appropriate state licensing board(s). An e-mail dedicated solely to this purpose and sent to the student’s best known e-mail address meets this requirement. The institution should use other means to notify the student in needed;</li>
	<li>11. Agree, in cases where the institution cannot fully deliver the instruction for which a student has contracted, to provide a reasonable alternative for delivering the instruction or reasonable financial compensation for the education they did not receive;</li>
	<li>12. Agree to pay to the state any state fees for SARA participation required by the home state for administering SARA; and;</li>
	<li>13. Agree to pay its annual SARA participation fee to the National Council for SARA (NC-SARA). This single annual fee replaces any fees that the institution would ordinarily pay to other SARA member states.</li>
</ul>

<li>When submitting an application, your institution must include:</li>
<ul>
	<li>State fee;</li>
	<li>State fee schedule; </li>
	<li>State bonding requirement of institutions (if any); and;</li>
	<li>Financial responsibility criteria for ratings 1.0-1.49.</li>
</ul>


<h3>What will it cost my institution to join SARA?</h3>

<div id="caclulatorSARA" style="border-radius: 25px; border: 2px solid #8AC007;padding: 20px; ">
	Q: What is your institution’s total full-time equivalent (FTE) enrollment as shown in the Integrated Postsecondary Education Data System (IPEDS)?<br><br>
	<input type="number" id="SaraInput"><button id="getvalueSC1">Calculate Fee</button><br><br>
	<strong><span id="SaraFee"></span></strong>
</div>
<!-- INSERT FEE CALCULATOR

Q: What is your institution’s total full-time equivalent (FTE) enrollment as shown in the Integrated Postsecondary Education Data System (IPEDS)?
Options: 

a) IF less than 2,500 THEN $2000 + $5000
b) IF 2,500 - 9,999 THEN $4,000 + $5000
c) IF exactly 10,000 THEN $6000 + $5000
d) IF 10,0001-20,000 THEN $6000 + $10,000
e) IF 20,001-40,000 THEN $6000 + $20,000
f) IF more than 40,000 THEN $6000 + $30,000

-->	

<li>This fee includes two parts:</li>
<ul>
	<li>A required, annual SARA fee paid to the National Council for SARA. The fee is based on your institution’s total full-time equivalent (FTE) enrollment as shown in the Integrated Postsecondary Education Data System (IPEDS); and;</li>
	<li>a state imposed fee for in-state SARA participant institutions to cover the state’s costs in administering SARA. SARA member states have the option of imposing this fee. For an updated list of SARA member in-state fees established, please visit: http://www.nc-sara.org/state-fees-regarding-sara</li>	
</ul>

<li>Renewal</li>
<ul>
	<li>Institutions previously approved by their home state portal agency as SARA participating institutions are eligible for renewal. During the review process portal agencies may pay particular attention to institutions operating under provisional admission </li>
	<li>To review detailed renewal policies and requirements, please visit Section 3.4 of the State Authorization Reciprocity Agreements Policies and Standards publication on the NC-SARA website: http://www.nc-sara.org/files/docs/FINAL%20SARA%20General%20Policies%20released.pdf</li>	
</ul>

<li>What does SARA cover? What is not covered by SARA?</li>
<ul>
	<li>For a detailed description of how SARA defines physical presence, and what is covered and not covered, please download and review the State Authorization Reciprocity Agreements Policies and Standards publication on the NC-SARA website: http://www.nc-sara.org/files/docs/FINAL%20SARA%20General%20Policies%20released.pdf  </li>
	<li>It is important to consider that an institution is required to meet a state’s current non-SARA requirements when it conducts any activity in a state defined by SARA as a physical presence “trigger”.</li>	
</ul>


</div>
</div>
</div>
</section>

{% endblock %}
